.row{
  background-color: rgb(255, 140, 0);
  height: 10px
}

.card{
  cursor: pointer;
}

.titulo1 {
  font-size: 25px;
  color: primary;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
}

.titulo2 {
  font-size: 25px;
  color: #0d0d0d;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
}
