.titulo {
  font-size: 25px;
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 14px;
  color: #000000;
}

.ativado {
  color: #07cc00;
}
.bloqueado {
  color: #cc0000;
}
.solicitado {
  color: #ffbc03;
}
.pesquisa {
  background-color: #ef7102;
}
