<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="adm/home"></ion-back-button>
    </ion-buttons>
    <p class="titulo1">Publicar Recibo</p>
  </ion-toolbar>
</ion-header>



<ion-content>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Mês</ion-label>
              <ion-input [(ngModel)]="mes" autofocus="true" formControlName="mes" placeholder="Insira o Mês" type="number" (ngModelChange)="formatarNumero($event, 'mes')">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Ano</ion-label>
              <ion-input [(ngModel)]="ano" autofocus="true" formControlName="ano" placeholder="Insira o Ano" type="number" (ngModelChange)="formatarNumero($event, 'ano')">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="display: flex;">
              <ion-item>
                <ion-label position="floating">Matrícula</ion-label>
                <ion-input autofocus="true" formControlName="matricula" placeholder="Insira a matrícula" type="number">
                </ion-input>
              </ion-item>
              <ion-item style="top: 24px;">
                <ion-checkbox justify="end" formControlName="todasMatriculas" [(ngModel)]="isChecked">
                  <ion-label>Todas</ion-label>
                 </ion-checkbox>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Tipo de Folha</ion-label>
              <ion-select  interface="action-sheet" formControlName="tipoFolha">
                    <ion-select-option value="0">Normal</ion-select-option>
                    <ion-select-option value="1">Férias</ion-select-option>
                    <ion-select-option value="2">13º Salário</ion-select-option>
                    <ion-select-option value="3">Rescisão</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <div>
              <ion-button expand="block" (click)="adicionar()"> Publicar </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
