<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="adm/home"></ion-back-button>
    </ion-buttons>

    <p class="titulo">Histórico de Publicações</p>


  </ion-toolbar>
  <div class="pesquisa">
    <ion-searchbar color="light" placeholder="Pesquisar por Mês e Ano" [value]="palavra" [(ngModel)]="palavra"
      (ionInput)="filtrar($event)"></ion-searchbar>
  </div>

</ion-header>
<ion-content>
  <ion-refresher style="background-color: white;" slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Puxe para atualizar"
      refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment style="background-color: #ef7102; border-radius: 0px;" scrollable (ionChange)="selecionar($event)"
    mode="ios" [value]="statusSelecionado">
    <ion-segment-button value="2">
      <ion-label class="p2">Disponível</ion-label>
    </ion-segment-button>
    <ion-segment-button value="0">
      <ion-label class="p2">Solicitado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label class="p2">Erro</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-list class="animate__animated animate__fadeInUp" *ngIf="loading==false && statusSelecionado == '2'">
    <ion-item-sliding *ngFor="let item of solicitacaoConcluidaCollection">
      <ion-item>
        <ion-label>
          <h3 class="p">
            <p *ngIf="item.todasMatriculas == true"><b>Matrícula: Todas </b></p>
            <p *ngIf="item.todasMatriculas == false"><b>Matrícula: {{item.matricula}} </b></p>
            <p><b>Mês: </b>{{ getNomeMes(item.mes) }}</p>
            <p><b>Ano: </b>{{item.ano}}</p>
          </h3>

        </ion-label>
        <ion-icon name="reader-outline" slot="start" color="success"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="excluir(item.id)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-list class="animate__animated animate__fadeInUp" *ngIf="loading==false && statusSelecionado === '0'">
    <ion-item-sliding *ngFor="let item of solicitacaoSolicitadaCollection">
      <ion-item>
        <ion-label>
          <h3 class="p">
            <p *ngIf="item.todasMatriculas == true"><b>Matrícula: Todas </b></p>
            <p *ngIf="item.todasMatriculas == false"><b>Matrícula: {{item.matricula}} </b></p>
            <p><b>Mês: </b>{{ getNomeMes(item.mes) }}</p>
            <p><b>Ano: </b>{{item.ano}}</p>
          </h3>

        </ion-label>
        <ion-icon name="reader-outline" slot="start" color="warning"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="excluir(item.id)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="animate__animated animate__fadeInUp" *ngIf="loading==false && statusSelecionado === '3'">
    <ion-item-sliding *ngFor="let item of solicitacaoErroCollection">
      <ion-item>
        <ion-label>
          <h3 class="p">
            <p><b>ID da Solicitação: </b>{{item.id}} </p>
            <p *ngIf="item.todasMatriculas == true"><b>Matrícula:</b> Todas </p>
            <p *ngIf="item.todasMatriculas == false"><b>Matrícula:</b> {{item.matricula}} </p>
            <p><b>Mês: </b>{{ getNomeMes(item.mes) }}</p>
            <p><b>Ano: </b>{{item.ano}}</p>
          </h3>

        </ion-label>
        <ion-icon name="reader-outline" slot="start" color="danger"></ion-icon>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="excluir(item.id)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <app-nao-ha-dados [carregando]="loading" [temDados]="hasData()"></app-nao-ha-dados>

</ion-content>