@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.texto {
  color: rgb(39, 38, 38);
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.b {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.tituloTotal {
  font-size: 17px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.total {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ef7102;
}

.liquido {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.h6 {
  text-align: center;
  color: primary;
  font-weight: bold;
  margin-left: 12px;
}

.h5 {
  text-align: center;
  color: #ef7102;
  font-weight: bold;
  margin-left: 12px;
}

.divisao2 {
  background-color: rgb(58, 57, 57);
  height: 1px;
  margin: 5px;
}

.parent {
  font-size: 17px;
  color: rgb(39, 38, 38);
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 3fr repeat(1, 2fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent2 {
  display: grid;
  text-align: center;
  grid-template-columns: 2fr 3fr repeat(1, 2fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.data{
  color: #ff6600;
  font-size: 17px;
  font-weight: bold;
}
.div1 {
  font-size: 13px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  grid-area: 1 / 1 / 2 / 1;
}
.div2 {
  font-size: 13px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  grid-area: 1 / 2 / 2 / 2;
}
.div3 {
  font-size: 13px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  grid-area: 1 / 3 / 2 / 3;
}

.subDiv1 {
  font-size: 16px;

  color: #646464;
  font-family: "Roboto", sans-serif;
  grid-area: 1 / 1 / 2 / 1;
}
.subDiv2 {
  font-size: 16px;

  color: #646464;
  font-family: "Roboto", sans-serif;
  grid-area: 1 / 2 / 2 / 2;
}
.subDiv3 {
  font-size: 16px;
  color: #646464;
  font-family: "Roboto", sans-serif;
  grid-area: 1 / 3 / 2 / 3;
}
