<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="adm/relatorios"></ion-back-button>
    </ion-buttons>
    <p class="titulo">Relatório de Visualizações</p>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label><b>Selecione a data do recibo: </b></ion-label>
            <ion-item>
              <ion-input [(ngModel)]="mes" placeholder="Mês" type="text" class="data"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  [(ngModel)]="ano" placeholder="Ano" type="text" class="data"></ion-input>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  <div>
    <ion-button expand="block" id="open-modal" (click)="loadRelatorio()"> Gerar relatório </ion-button>
  </div>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-buttons slot="start">
          <ion-button color="primary" style="font-weight: bold;" (click)="gerarPDF()"> Gerar PDF </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()" color="primary" style="font-weight: bold;">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-searchbar placeholder="Procurar matrícula" [value]="matricula" [(ngModel)]="matricula"
      (ionInput)="filtrar($event)"></ion-searchbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div>
        <ion-grid>
          <div style="display: flex; justify-content: center; font-weight: bold; font-size:20px;">
            <p >Relatório de Visualizações</p>
          </div>

          <div style="text-align: center; justify-content: center;">
            <ion-col>
              <div class="parent">
                <div  class="ion-text-center" style="font-weight: bold;">Matrícula</div>
                <div  class="ion-text-center" style="font-weight: bold;">Visualizado</div>
              </div>

              <div class="divisao2"></div>

              <ion-list *ngFor="let resultado of relatorioCollection">
                <ion-item class="ion-text-center">
                  <ion-label class="subDiv2">{{resultado.matricula}}</ion-label>
                  <ion-label class="subDiv3" *ngIf="resultado.visualizado == '1'">Sim</ion-label>
                  <ion-label class="subDiv3" *ngIf="resultado.visualizado == '0'">Não</ion-label>
                </ion-item>
              </ion-list>

              <!--<div class="divisao2"></div>-->

            </ion-col>
          </div>
        </ion-grid>
      </div>
      </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>
